@using TheaterBoxOffice.WebMVC.ReturnModels
@model IEnumerable<ReturnModelForBookings<int>>
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>All Bookings</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        a {
            color: blue;
            text-decoration: underline;
        }
        a:hover {
            color: purple;
        }
    </style>
</head>
<body>
    <div>
        <a href="/">back</a>
    </div>
    <table>
        <tr>
            <th>Perfomance Name</th>
            <th>Date</th>
            <th>Hall Number</th>
            <th>Place Number</th>
        </tr>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.PerfomanceName</td>
                <td>@booking.PerfomanceDate</td>
                <td>@booking.HallNumber</td>
                <td>@booking.PlaceNumber</td>
                <td><a href="/Bookings/SellTicket?placeid=@booking.PlaceId&perfomanceId=@booking.PerfomanceId">sell booked ticket</a></td>
            </tr>
        }
    </table>
</body>
</html>