@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Theatre</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        a {
            display: inline-block;
            background-color: lightblue;
            color: white;
            text-decoration: none;
            padding: 16px;
            border-radius: 4px;
            margin: 16px;
        }
        a:hover {
            background-color: purple;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome to the Theatre</h1>
            <div>
                <a href="/Perfomances">Perfomances</a><br>
                <a href="/Tickets">Show selled tickets</a>
                <a href="/Bookings">Show booked tickets</a>
            </div>
        </div>
    </div>
</body>
</html>
